
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GroupChat</title>
    <script src="~/Scripts1/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts1/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts1/layer/layer.min.js"></script>
    <!--这里要注意,这是虚拟目录,也就是你在OWIN Startup中注册的地址-->
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var chat;
        var roomcount = 0;

        $(function () {
            chat = $.connection.Group;//EIPWeb Project=>/Hubs/GroupsHub.cs;
            chat.client.showMessage = function (message) {
                //alert(message);
            };
            chat.client.sendMessage = function (roomId, message) {
                //alert("roomId:" + roomId + ",message:" + message);
                $("#" + roomId).find("ul").each(function () {
                    var Today = new Date();
                    var Now = Today.getFullYear() + "/" + (Today.getMonth() + 1 < 10 ? "0" : "") + (Today.getMonth() + 1) + "/" + (Today.getDate() < 10 ? "0" : "") + Today.getDate() + " " + (Today.getHours() < 10 ? "0" : "") + Today.getHours() + ":" + (Today.getMinutes() < 10 ? "0" : "") + Today.getMinutes() + ":" + (Today.getSeconds() < 10 ? "0" : "") + Today.getSeconds();

                    $(this).append('<li>' + message + "," + Now + '</li>');
                });
            };
            chat.client.removeRoom = function (data) {
                alert(data);
            };
            chat.client.joinRoom = function (roomname) {
                var html = '<div style="float:left; margin-left:360px; border:double; height:528px;width:493px" id="' + roomname + '" roomname="' + roomname + '"><button onclick="RemoveRoom(this)">退出</button>\
                                            ' + roomname + '房间\
                                                        聊天记录如下:<ul>\
                                                        </ul>\
                                            <textarea class="ChatCore_write" id="ChatCore_write" style="width:400px"></textarea> <button onclick="SendMessage(this)">发送</button>\
                                            </div>';
                $("#RoomList").append(html);
            };

            //注册查询房间列表的方法
            chat.client.getRoomlist = function (data) {
                if (data) {
                    //alert(data);
                    var jsondata = $.parseJSON(data);
                    $("#roomlist").html(" ");
                    for (var i = 0; i < jsondata.length; i++) {
                        var html = ' <li>房间名:' + jsondata[i].RoomName + '<button roomname="' + jsondata[i].RoomName + '" onclick="AddRoom(this)">加入</button></li>';
                        $("#roomlist").append(html);
                    }
                }
            };
            // 获取用户名称。
            $('#username').html(prompt('请输入您的名称:', ''));

            $.connection.hub.start().done(function () {
                chat.state.userID = $('#username').html();
                $('#CreatRoom').click(function () {
                    GetRoomID($("#Roomname").val());
                    var roomID = $('#Roomid').val();
                    var roomName = $("#Roomname").val();
                    //alert(roomID + "," + roomName);
                    chat.server.createRoom(roomID, roomName);
                });
            });
        });

        function SendMessage(btn) {
            var message = $(btn).prev().val();
            var room = $(btn).parent();
            var username = $("#username").html();
            var roomname = $(room).attr("roomname");
            var roomid = $('#Roomid').val();
            chat.server.sendMessage(roomid, username, message);
            $(btn).prev().val('').focus();
        }

        function RemoveRoom(btn) {
            var room = $(btn).parent();
            var roomname = $(room).attr("roomname");
            chat.server.removeUserFromRoom(roomname);
        }

        function AddRoom(roomname) {
            var roomName = $(roomname).attr("roomname");
            GetRoomID($("#Roomname").val());
            var roomID = $('#Roomid').val();
            chat.server.joinRoom(roomID);
        }

        function GetRoomID(roomName) {
            //alert(document.domain);
            var sUrl = String.format("{0}//{1}:{2}/api/Chatroom", window.location.protocol, window.location.hostname, (window.location.port.length > 0 ? window.location.port : "80/EIPWeb"));
            //alert(sUrl);
            var roomID = "";
            try {
                $.ajax({
                    url: sUrl,
                    method: 'GET',
                    dataType: 'json',
                    data: "roomName=" + roomName,
                    async: false,
                    cache: false,
                    success: function (response) {
                        if (response.Success) {
                            $('#Roomid').val(response.Payload.ChatroomID);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("ajax:" + error);
                    }                   
                });
            } catch (error) {
                alert("catch:" + error);
            }
            return roomID;
        }


        //可在Javascript中使用如同C#中的string.format //使用方式 : var fullName = String.format('Hello. My name is {0} {1}.', 'FirstName', 'LastName');
        String.format = function () {
            var s = arguments[0];
            if (s == null) return "";
            for (var i = 0; i < arguments.length - 1; i++) {
                var reg = getStringFormatPlaceHolderRegEx(i);
                s = s.replace(reg, (arguments[i + 1] == null ? "" : arguments[i + 1]));
            }
            return cleanStringFormatResult(s);
        }
        //可在Javascript中使用如同C#中的string.format (對jQuery String的擴充方法)
        //使用方式 : var fullName = 'Hello. My name is {0} {1}.'.format('FirstName', 'LastName');
        String.prototype.format = function () {
            var txt = this.toString();
            for (var i = 0; i < arguments.length; i++) {
                var exp = getStringFormatPlaceHolderRegEx(i);
                txt = txt.replace(exp, (arguments[i] == null ? "" : arguments[i]));
            }
            return cleanStringFormatResult(txt);
        }
        //讓輸入的字串可以包含{}
        function getStringFormatPlaceHolderRegEx(placeHolderIndex) {
            return new RegExp('({)?\\{' + placeHolderIndex + '\\}(?!})', 'gm')
        }
        //當format格式有多餘的position時，就不會將多餘的position輸出
        //ex:
        // var fullName = 'Hello. My name is {0} {1} {2}.'.format('firstName', 'lastName');
        // 輸出的 fullName 為 'firstName lastName', 而不會是 'firstName lastName {2}'
        function cleanStringFormatResult(txt) {
            if (txt == null) return "";
            return txt.replace(getStringFormatPlaceHolderRegEx("\\d+"), "");
        }
    </script>
</head>
<body>
    <div>
        <div>名称:<p id="username"></p></div>
        输入房间名:
        <input type="text" value="聊天室1" id="Roomname" />
        <button id="CreatRoom">创建聊天室</button><br/>
        取得房间號:
        <input type="text" value="" id="Roomid" />
    </div>
    <div style="float:left;border:double">
        <div>房间列表</div>
        <ul id="roomlist"></ul>
    </div>
    <div id="RoomList">
    </div>
</body>
</html>
