
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-sm-2">@Html.DropDownList("Department", null, "部門", htmlAttributes: new { @class = "form-control" })</div>
<div class="col-sm-2">@Html.DropDownList("Employee", null, "員工", htmlAttributes: new { @class = "form-control" })</div>

<button type="submit"></button>